<div class="column">
<h2 class="title pb-4">Login</h2>
<form class="login-form">
  <div>
    <label for="email-login"></label>
    <input type="text" id="email-login" placeholder="Enter your Email address" size="50" />
  </div>
  <div>
    <label for="password-login"></label>
    <input type="password" id="password-login" placeholder="Enter your password" size="50" />
  </div>
  <div>
    <div class="btn">
    <button type="submit" class="login-btn button">Login</button>
    <div>
    <a href="/signup"><button type="button" class="sign-btn button">Signup</button></a>
    </div>
    </div>
  </div>
</form>
</div>

<!-- javascript file-->
<script src="/javascript/login.js"></script>