<div class="column">
<h2 class="title pb-4">Create a New Account</h2>
<form class="signup-form">
  <div>
    <label for="username-signup"></label>
    <input type="text" id="username-signup" placeholder="Enter your Username" size="50" />
  </div>
  <div>
    <label for="email-signup"></label>
    <input type="text" id="email-signup" placeholder="Enter your Email address" size="50" />
  </div>
  <div>
    <label for="password-signup"></label>
    <input type="password" id="password-signup" placeholder="Enter your username" size="50" />
  </div>
  <div>
    <button type="submit" class="button signup-btn">Signup</button>
  </div>
</form>
</div>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>